/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	color: #3f51b5;
}

#option-form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin-right: 10px;
	width: 300px;
}

button {
	padding: 10px 20px;
	background-color: #3f51b5;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
	background-color: #303f9f;
}

#options {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.options-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.option {
	background-color: white;
	padding: 15px;
	margin: 10px 0;
	border-radius: 4px;
	width: 300px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

span {
	font-size: 18px;
}
